.keyboard {
  background: #8E8E8F;
  border-radius: 4px;
  color: #fff;
  float: left;
  font: bold 12px Helvetica, Arial;
  margin: 10px 15px 25px 0;
  padding: 8px;
  position: center;
  width: 862px;
}

.key {
  background: #282829;
  border: 6px solid transparent;
  border-width: 5px 5px 8px 6px;
  border-image: #5E5F60;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 1px 0;
  padding: 2px 0 0 5px;
  position: center;
  vertical-align: top;
}

.key:active {
  background: #353536;
  box-shadow: #5E5F60;
}

.w2 {
  text-transform: uppercase;
  width: 54px;
}

.w3 {
  width: 83px;
}

.w4 {
  width: 112px;
}

.w5 {
  width: 141px;
}

.w12 {
  width: 300px;
}

.w90{
  width: 40px;

}
.w91{
  width: 83px;
}
.w92{
  width: 83px;
}
.w93{
  width: 83px;
}
.w94{    
  width: 300px;
}


.screen {
  border: 15px solid #000000;
  border-radius: 5px;
  height: 500px;
  overflow: auto;
  padding: 5px;
  width: 837px;
}

.screen p {
  display: inline-block;
  font-family: Courier, monospace;
  margin: 0;
  padding: 0;
}

.screen p:after {
  content: "|";
  position: relative;
  right: 3px;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
